<footer>
    <div class="subFooter">
        <div class="subFooter-inner-social">
            <ul class="hr-sc-bar" id="hrArray">
                <li class="socialIcon"><i class="fab fa-instagram fa-2x"></i></li>
                <li class="socialIcon"><i class="fab fa-facebook-square fa-2x"></i></li>
                <li class="socialIcon"><i class="fab fa-twitter-square fa-2x"></i></li>
            </ul>
        </div>
    </div>    
    <div class="subFooter2">
        <div class="subFooter-inner-body">
            <p class="subFooter-copyright">© 2019
                StrayTX
            </p>
            <p class='subFooter-trademark'>
                All trademarks are owned by G6 Incorporated.
            </p>
        </div>
    </div> 
</footer>