<div class="topnav">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="index.html">
                <img src="./assets/img/LogoMakr_0serJn.png" width="auto" height="40" alt="">
            </a>
            <div class="topnav-right">
                <button class="btn btn-sm btn-outline-secondary" id="login-btn" type="button">Login</button>
            </div>
        </nav>
    </div>