{{>nav}}

<div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/search">Search pets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lost">Lost pet</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link active" href="/found">Found pet</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
                <img id="logo-center" src="./public/assets/img/LogoMakr_0serJn.png" width="auto" height="100" alt="">
            <h5 class="card-text">Helping lost pets find their way home.</h5>
            <a href="#" class="btn btn-primary">New Search</a>
            <br> <br>
    </div>
