<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h1>StrayTX</h1>
    </div>

    <div class="col-md-8"></div>

    <div class="col-md-2">
      <button type="button" class="btn btn-primary" id="logIn">Log In</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3>Search our database</h3>
      <form>
        <div class="form-group">
          <label for="breedSearch">Breed</label>
          <input type="text" class="form-control" id="breedSearch" placeholder="Breed">
        </div>

        <div class="form-group">
          <label for="colorSearch">Main Color</label>
          <select class="form-control" id="colorSearch">
            <option>Black</option>
            <option>Brown</option>
            <option>Grey</option>
            <option>White</option>
            <option>Golden</option>
          </select>
        </div>

        <div class="form-group">
          <label for="sexSearch">Sex</label>
          <input type="text" class="form-control" id="sexSearch" placeholder="Sex">
        </div>

        <div class="form-group">
          <label for="ageSearch">Age</label>
          <input type="number" class="form-control" id="ageSearch" placeholder="Age">
        </div>

        <button type="submit" class="btn btn-primary" id="searchSubmit">Submit</button>
      </form>    
    </div>
  
    <div class="col-md-4">
      <h3>Submit lost pet</h3>
      <form>
        <div class="form-group">
          <label for="breedLost">Breed</label>
          <input type="text" class="form-control" id="breedLost" placeholder="Breed">
        </div>

        <div class="form-group">
          <label for="colorLost">Main Color</label>
          <select class="form-control" id="colorLost">
            <option>Black</option>
            <option>Brown</option>
            <option>Grey</option>
            <option>White</option>
            <option>Golden</option>
          </select>
        </div>

        <div class="form-group">
          <label for="sexLost">Sex</label>
          <input type="text" class="form-control" id="sexLost" placeholder="Sex">
        </div>

        <div class="form-group">
          <label for="ageLost">Age</label>
          <input type="number" class="form-control" id="ageLost" placeholder="Age">
        </div>

        <div class="form-group">
          <label for="imgLost">Breed</label>
          <input type="text" class="form-control" id="imgLost" placeholder="Image URL">
        </div>

        <button type="submit" class="btn btn-primary" id="lostSubmit">Submit</button>
      </form> 
    </div>

    <div class="col-md-4">
      <h3>Submit found pet</h3>
      <form>
        <div class="form-group">
          <label for="breedFound">Breed</label>
          <input type="text" class="form-control" id="breedFound" placeholder="Breed">
        </div>

        <div class="form-group">
          <label for="colorFound">Main Color</label>
          <select class="form-control" id="colorFound">
            <option>Black</option>
            <option>Brown</option>
            <option>Grey</option>
            <option>White</option>
            <option>Golden</option>
          </select>
        </div>

        <div class="form-group">
          <label for="sexFound">Sex</label>
          <input type="text" class="form-control" id="sexFound" placeholder="Sex">
        </div>

        <div class="form-group">
          <label for="ageFound">Age</label>
          <input type="number" class="form-control" id="ageFound" placeholder="Age">
        </div>

        <div class="form-group">
          <label for="imgFound">Image URL</label>
          <input type="text" class="form-control" id="imgFound" placeholder="Image URL">
        </div>

        <button type="submit" class="btn btn-primary" id="foundSubmit">Submit</button>
      </form> 
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 modal" id="modal">
      <div class="modal-content">
        <form>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
          </div>
  
          <button type="submit" class="btn btn-primary" id="loginSubmit">Submit</button>
        </form>
      </div>          
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
