.list-group-item {
  line-height: 2.5;
}

/* Header Styling */

#titleRow {
  padding-bottom: 10px;
  border-bottom: 2px solid blue;
}

/* Sign In / Create Account Dropdown Styling */

#createAccountDropdown, #signInDropdown {
  background-color: orange;
}

.dropdown-menu {
  width: 250px;
}

/* Jumbotron Styling */
.jumbotron {
  margin: auto;
}

#jumbotronRow {
  margin-top: 80px;
}

#jumbotronImage {
  height: 80px;
  width: auto;
}
