/* Main Page Elements */

html {
  height: 100%;
}

body {
  height: 100%;
}

.container {
  margin-top: 20px;
}

/* Landing Page Body */

#index {
  background-image: url(../assets/img/dogbackground.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: rgb(221, 221, 216);
  height: 100%;
}

/* Header Styling */

.heading-div {
  border-bottom: 4px solid #ffbe67;
}

.topnav {
  border-bottom: 10px solid blue;
}

.topnav a {
  float: left;
}

.topnav-right {
  float: right;
}

.card-header {
  font-family: 'Montserrat', sans-serif;
}

#login-btn, 
#logout, 
.logout {
  border: 1px solid blue;
  color: blue;
  font-family: 'Montserrat', sans-serif;
  padding: 5px 25px;
}

#login-btn:hover, 
#logout:hover, 
.logout:hover {
  background-color: blue;
  color: white;
}

/* Jumbotron Styling */

.jumbotron {
  margin: auto;
  background-color: rgba(255, 255, 255, 0);
  padding-top: 20px;
}

#jumbotronImage {
  height: 80px;
  width: auto;
  display: block;
  margin: 0 auto 10px auto;
}

.lead {
  text-align: center;
}

hr {
  background-color: blue;
  height: 2px;
}

.jText {
  font-size: 16px;
}

#jumbotronButtons {
  padding-top: 10px;
}

#createAccountDropdown, 
#signInDropdown {
  background-color: blue;
  border: 1px solid blue;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  width: 25%;
}

#createAccountDropdown:hover, 
#signInDropdown:hover {
  color: blue;
  background-color: rgb(221, 221, 216);
}

/* Modal Styling */

.modal-content {
  background-color: #f8f9fa;
  margin: 10% auto;
  padding: 20px 30px 0px 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Montserrat', sans-serif;
  width: 40%;
  animation-duration: 0.4s;
}

.modalHeadline {
  text-align: center;
  font-weight: bold;
  color: orange;
  border-bottom: 2px solid blue;
  padding-bottom: 40px;
}

.modalForm {
  margin: 40px 20px;
}

#createAccountSubmit, 
#signInSubmit {
  margin-top: 20px;
  width: 40%;
  background-color: blue;
}

#createAccountSubmit:hover, 
#signInSubmit:hover {
  color: blue;
  background-color: #f8f9fa;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  width: 5%;
}

.close:hover,
.close:focus {
  color: orange;
  text-decoration: none;
  cursor: pointer;
}

/*Search page */

#searchDiv {
  margin-top: 20px;
}

#searchBar {
  margin-top: 20px;
  text-align: center;
}

#beforeSearch {
  justify-content: center;
}

#tableDiv {
  overflow-x: auto;
}

#searchTable {
  margin: 20px 0px 60px 0px;
}

#savedSearches {
  margin-left: 8px;
}

#savedSearches, 
#searchSubmit {
  background-color: blue;
  width: 152px;
}

#savedSearches:hover, 
#searchSubmit:hover, 
#saveSearch:hover, 
#newSearch:hover, 
.claimButton:hover {
  color: blue;
  background-color: #f8f9fa;
}

#saveSearch {
  margin: 0px 20px;
}

#saveSearch, 
#newSearch {
  background-color: blue;
  font-family: 'Montserrat', sans-serif;
}

#afterSearch {
  justify-content: center;
}

th {
  font-family: 'Montserrat', sans-serif;
  color: blue;
}

td {
  font-family: 'Montserrat', sans-serif;
}

.claimButton {
  background-color: blue;
  color: #f8f9fa;
  font-family: 'Montserrat', sans-serif;
}

/* Lost/Found Pet Forms */

.form-div {
  background-color: #f8f9fa;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}

.post-form {
  width: 100%;
  margin: 0 auto;
  padding: 0px 30px;
}

.form-title {
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid blue;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
  margin-bottom: 20px;
  color: orange;
}

#lostSubmit, #foundSubmit {
  width: 30%;
  margin: 15px 0px 10px 0px;
  background-color: blue;
}

#lostSubmit:hover, 
#foundSubmit:hover, 
#searchPageButton:hover {
  color: blue;
  background-color: #f8f9fa;
}

#searchPageButton {
  width: 30%;
  color: #f8f9fa;
  background-color: blue;
}

#savedSearchesContainer {
  justify-content: center;
}

#searchName {
  margin-bottom: 10px;
}

.saveSearch {
  background-color: blue;
  margin: 0px 10px 20px 10px;
}

.badge {
  background-color: blue;
}

/* End of search forms */

h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

#searchForm {
  width: auto;
}

#sub-btn {
  margin-left: 30px;
}

#inlineFormCustomSelectPref2 {
  margin-left: 30px;
}

#customControlInline {
  margin-left: 30px;
}

#petColor {
  margin: 5px 0px;
}

#petLooksLike {
  font-weight: bold;
  margin-bottom: 5px;
}

.card-body {
  padding: 10px;
}

.card-text {
  margin-bottom: 25px;
}

#logo-center {
  margin-top: 10px;
  margin-bottom: 15px;
}

.addspace {
  margin-top: 30px;
  margin-bottom: 30px;
}

footer {
  background-color: #1330e1;
  height: auto;
}

#hrArray {
  list-style: none;
  margin-top: 20px;
}


.hr-sc-bar {
  text-align: center;
  color: white;
  padding: 20px;
}

.socialIcon {
  display: inline;
  padding: 15px;
}

.subFooter-copyright {
  color: white;
  text-align: center;
}

.subFooter-trademark {
  color: white;
  text-align: center;
}

.subFooter-inner-body {
  margin-bottom: 20px;
}

.subFooter {
  border-bottom: 1px solid white;
  border-top: 4px solid #ffbe67;
}

.subFooter2 {
  margin-top: 5px;
  padding: 15px;
}

/* 404 page */

#error-bg { 
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);
}

.error-template {
  padding: 40px 15px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.error-actions {
  margin-top:15px;
  margin-bottom:15px;
}
.error-actions .btn {
  margin-right:10px; 
}

#errorFooter {
    background-color: #1330e1;
    height: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    clear: both;
    font-size: 12px;
    text-align: center;
    position: fixed;
  }
  
  #backButton {
    text-shadow: none;
    background-color: blue;
    border: 1px solid blue;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #backButton:hover {
    background-color: #f8f9fa;
    color: blue;
  }

/* Media Queries */

@media only screen and (max-width: 360px) {
  
  #jumbotronImage {
    margin-left: -12px;
  }
  
  .nav-item {
    font-size: 13px;
  }
}

@media only screen and (max-width: 415px) {
  .jText {
    display: none;
  }

  .index-container {
    height: 80%;
  }

  .jumbotron {
    margin: auto;
  }
  
  #lostSubmit, 
  #foundSubmit {
    width: 50%;
  }
}

@media only screen and (max-width: 500px) {

  #index {
    background-size: 100%;
  }

  .modal-content {
    width: 100%;
  }

  #createAccountDropdown {
    margin-bottom: 10px;
  }

  #createAccountDropdown, 
  #signInDropdown {
    width: 60%;
  }

  #createAccountSubmit, 
  #signInSubmit {
    width: 100%;
  }
}

@media screen and (min-width: 750px) and (max-width: 900px) {
  #createAccountDropdown, 
  #signInDropdown {
    width: 40%;
  }
}

