h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

html {
  height: 100%;
}

body {
  background-image: url(../assets/img/dogbackground.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: rgb(221, 221, 216);
  height: 100%;
}

/* Header Styling */

.topnav {
  border-bottom: 10px solid blue;
}

/* Jumbotron Styling */
.jumbotron {
  margin: auto;
  background-color: rgba(255, 255, 255, 0);
  padding-top: 40px;
}

#jumbotronImage {
  height: 80px;
  width: auto;
  display: block;
  margin: 0 auto 10px auto;
}

.lead {
  text-align: center;
}

hr {
  background-color: blue;
  height: 2px;
}

.jText {
  font-size: 16px;
}

#jumbotronButtons {
  padding-top: 10px;
}

#createAccountDropdown, #signInDropdown {
  background-color: orange;
  border: 1px solid orange;
  text-align: center;
}

#createAccountDropdown:hover, 
#signInDropdown:hover {
  border: 1px solid blue;
}
/* End of Jumbotron Styling */

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

#petColor {
  margin-top: 5px;
  margin-bottom: 5px;
}

#petLooksLike {
  font-weight: bold;
  margin-bottom: 5px;
}

.card-body {
  padding: 10px;
}

.topnav a {
  float: left;
}
.topnav-right {
  float: right;
}

.dropdown {
  display: inline-block;
}

/* .card.mb-3{
  border: none;
} */

.card-text {
  margin-bottom: 25px;
}

#logo-center {
  margin-top: 10px;
  margin-bottom: 15px;
}

#searchDiv {
  margin-top: 10px;
}

/* Modal Styling */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  animation-duration: 0.5s;
}
/* Modal Content/Box */
.modal-content {
  background-color: rgb(221, 221, 216);
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid blue;
  width: 40%; /* Could be more or less, depending on screen size */
}

.modalHeadline {
  text-align: center;
  border-bottom: 2px solid blue;
  padding-bottom: 40px;
}

.modalForm {
  margin: 40px 20px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: orange;
  text-decoration: none;
  cursor: pointer;
}
